Repository WorldHealthOrganization/app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa, @patniemeyer, @theswerd, @sapte91, @deanhach, @epicfaace

Delete i18n.dart
  client/flutter/lib/generated/i18n.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

remove extra resource
  client/flutter/lib/generated/i18n.dart
  client/flutter/pubspec.lock
  client/flutter/res/values/strings_en.arb
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

remove i18n generated file
  client/flutter/lib/generated/i18n.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Added myth_busters.en.yaml content from GSheet, and updated question_data.dart to load it
  client/flutter/assets/content_bundles/myth_busters.en.yaml
  client/flutter/lib/api/question_data.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Run client build on pull_request
  .github/workflows/flutter-build.yml
Owners: @brunobowden, @crazybob, @sammousa

add ios / android firebase config files
  client/flutter/android/app/google-services.json
  client/flutter/ios/Runner/GoogleService-Info.plist
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

run git diff
  .github/workflows/flutter-build.yml
Owners: @brunobowden, @crazybob, @sammousa

upload artifacts
  .github/workflows/flutter-build.yml
Owners: @brunobowden, @crazybob, @sammousa

fix paths
  .github/workflows/flutter-build.yml
Owners: @brunobowden, @crazybob, @sammousa

add changes to Podfile when running build on ios
  client/flutter/ios/Podfile.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

feat: add version name and number to home page
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update flutter-build.yml
  .github/workflows/flutter-build.yml
Owners: @brunobowden, @crazybob, @sammousa

Run client build on pull_request (#620)
  .github/workflows/flutter-build.yml
Owners: @brunobowden, @crazybob, @sammousa

rm upload artifact
  .github/workflows/flutter-build.yml
Owners: @brunobowden, @crazybob, @sammousa

refactor: update package_info constraints
  client/flutter/pubspec.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

update xcodeproj
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

log analytics for other buttons on home screen
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

add instructions for setting up firebase
  docs/BUILD.md
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @deanhach

Finished Onboarding Slide (#612)
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update client/flutter/ios/Runner/GoogleService-Info.plist
  client/flutter/ios/Runner/GoogleService-Info.plist
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update client/flutter/ios/Runner/GoogleService-Info.plist
  client/flutter/ios/Runner/GoogleService-Info.plist
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

fix: fix blank screen showing on web
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

[fix] Request header should be Accept
  client/flutter/lib/api/content_loading.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Fix typo in question title
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update pubspec.lock
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Fix typo in question title (#627)
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Use logShare
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. 
#
# Security sensitive items must be at the end.
#
# All user entries should be alpha-sorted and lowercase.

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
# Sadly, we have to repeat the top-level owners everywhere,
# since we are not team-members of a GitHub Organization.

* @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# Feature areas:

# Client UI
/client/flutter/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @theswerd

# Client Localization
# Pure translation changes can be approved by @sapte91, but Client UI folks can also still approve/submit
# as needed when mixed with code changes.
/client/flutter/lib/generated/intl/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @sapte91 @theswerd
/client/flutter/lib/l10n/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @sapte91 @theswerd

# Team-wide processes
/docs/ @advaydev1 @brunobowden @crazybob @hspinks @deanhach

# Release process
/docs/RELEASE.md @advaydev1 @brunobowden @crazybob @epicfaace @hspinks @deanhach
/docs/release/ @advaydev1 @brunobowden @crazybob @epicfaace @hspinks @deanhach

# Server
/server/ @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# API
/api/ @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# ***** Security-sensitive - always keep these at the end. *****

# CI and CD, Repo admins who can access secrets.
/.github/workflows/ @brunobowden @crazybob @sammousa
/.github/CODEOWNERS @brunobowden @crazybob @sammousa
