Repository WorldHealthOrganization/app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa, @patniemeyer, @theswerd, @sapte91, @deanhach, @epicfaace

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. 
#
# Security sensitive items must be at the end.
#
# All user entries should be alpha-sorted and lowercase.

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
# Sadly, we have to repeat the top-level owners everywhere,
# since we are not team-members of a GitHub Organization.

* @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# Feature areas:

# Client UI
/client/flutter/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @theswerd

# Client Localization
# Pure translation changes can be approved by @sapte91, but Client UI folks can also still approve/submit
# as needed when mixed with code changes.
/client/flutter/lib/generated/intl/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @sapte91 @theswerd
/client/flutter/lib/l10n/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @sapte91 @theswerd

# Team-wide processes
/docs/ @advaydev1 @brunobowden @crazybob @hspinks @deanhach

# Release process
/docs/RELEASE.md @advaydev1 @brunobowden @crazybob @epicfaace @hspinks @deanhach
/docs/release/ @advaydev1 @brunobowden @crazybob @epicfaace @hspinks @deanhach

# Server
/server/ @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# API
/api/ @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# ***** Security-sensitive - always keep these at the end. *****

# CI and CD, Repo admins who can access secrets.
/.github/workflows/ @brunobowden @crazybob @sammousa
/.github/CODEOWNERS @brunobowden @crazybob @sammousa

Fixed merge conflict
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Updated styling and better structure
  client/flutter/lib/components/news_feed_item.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Finished onboarding UI (#587)
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update client/flutter/ios/Podfile.lock - 1.9.1
  client/flutter/ios/Podfile.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Newsfeed (#597)
  client/flutter/assets/news_press/news_articles.png
  client/flutter/assets/news_press/news_situation_reports.png
  client/flutter/assets/news_press/press_briefings.png
  client/flutter/assets/news_press/rolling_updates.png
  client/flutter/assets/onboarding/onboarding_location.png
  client/flutter/assets/onboarding/onboarding_notifications.png
  client/flutter/assets/travel_advice/doctor.png
  client/flutter/assets/travel_advice/quarantine.png
  client/flutter/assets/travel_advice/self-monitor.png
  client/flutter/lib/components/news_feed_item.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/pubspec.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add Kristina Plummer for assets credit
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Add Kristina Plummer for assets credit (#600)
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Removed unnecessary imports
  client/flutter/lib/pages/travel_advice.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Working iOS
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/ios/Runner/GoogleService-Info.plist
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Working iOS
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/ios/Runner/GoogleService-Info.plist
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Revert "Add Firebase Analytics (#512)"
  client/flutter/android/app/build.gradle
  client/flutter/android/build.gradle
  client/flutter/lib/constants.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/pubspec.yaml
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Revert "Add Firebase Analytics (#512)" (#602)
  client/flutter/android/app/build.gradle
  client/flutter/android/build.gradle
  client/flutter/lib/constants.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/pubspec.yaml
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

refactor: i10n arabic typo
  client/flutter/lib/l10n/intl_ar.arb
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @sapte91, @theswerd

Update question_index.dart
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Questions drop down (#589)
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

fix icon click area still display problem
  client/flutter/lib/components/page_scaffold.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

update page_scaffold
  client/flutter/lib/components/page_scaffold.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

lock
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Added loading indicator
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Switched to circular indicator
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

[feat] Show our LICENSE and THIRD_PARTY_LICENSE
  client/flutter/assets/REPO_LICENSE
  client/flutter/assets/THIRD_PARTY_LICENSE
  client/flutter/lib/main.dart
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Fix app bar height
  client/flutter/lib/components/list_of_items.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

16->48px padding
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add loading indicator to dynamic views (#607)
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Fix app bar height (#609)
  client/flutter/lib/components/list_of_items.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Added images to onboarding screens
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add our own LICENSE files to the full list, Closes #593 (#608)
  client/flutter/assets/REPO_LICENSE
  client/flutter/assets/THIRD_PARTY_LICENSE
  client/flutter/lib/main.dart
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Added images to intro slides
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

[credits] PM and Design
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Finished onboarding flow
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

re-commented onboarding false
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

:construction: feat: extract YoutubeEmbed to separate component
  client/flutter/lib/components/youtube_embed.dart
  client/flutter/lib/pages/protect_yourself.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

:construction: feat: add YouTube video embed to the page in a webview
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner/Info.plist
  client/flutter/lib/pages/protect_yourself.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Finished travel page
  client/flutter/lib/pages/travel_advice.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Updated UI
  client/flutter/lib/pages/travel_advice.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update legal_landing_page.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Extracted localizable strings to translate static content for v1
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/lib/pages/protect_yourself.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @sapte91, @theswerd

fix charactor bug
  client/flutter/lib/components/page_scaffold.dart
  client/flutter/lib/generated/i18n.dart
  client/flutter/pubspec.lock
  client/flutter/res/values/strings_en.arb
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

:sparkles: feat: add PageHeader component
  client/flutter/lib/components/list_of_items.dart
  client/flutter/lib/components/page_header.dart
  client/flutter/lib/components/page_scaffold.dart
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Fixing some stuff
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd
