Repository WorldHealthOrganization/app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa, @patniemeyer, @theswerd, @sapte91, @deanhach, @epicfaace

Merge
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update pubspec.lock
  client/flutter/pubspec.lock
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Updated Questions UI
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Finished onboarding UI
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Re-comment test line
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Initial pass at dynamic content loading.
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
  client/flutter/lib/api/content_bundle.dart
  client/flutter/lib/api/content_loading.dart
  client/flutter/lib/components/question_data.dart
  client/flutter/lib/l10n/your_questions_answered.yaml
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd, @sapte91

Remove comment.
  client/flutter/lib/api/content_bundle.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Move file.
  client/flutter/lib/api/question_data.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Color stays the same when expansion is opened
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

refractored code
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

refractored code
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

// ignore: unused_element
  client/flutter/lib/api/content_bundle.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Updated homepage styling
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/components/page_scaffold.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

fix issues
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Got rid of unused import
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add Font Awesome Free for design assets in THIRD_PARTY_LICENSE
  THIRD_PARTY_LICENSE
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Update travel_advice.dart
  client/flutter/lib/pages/travel_advice.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Remove TODO
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Deleted commented code
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Update home_page.dart
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Updated homepage styling (#590)
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/components/page_scaffold.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/lib/pages/question_index.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add Font Awesome Free for design assets in THIRD_PARTY_LICENSE (#591)
  THIRD_PARTY_LICENSE
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

add firebase/auth pod
  client/flutter/ios/Podfile
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add feature flag for network loading. Change file naming to: e.g. screen_name.en_US.yaml
  client/flutter/lib/api/content_loading.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Revert "add firebase/auth pod"
  client/flutter/ios/Podfile
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Fix try/catch and remove dead code.
  client/flutter/lib/api/content_bundle.dart
  client/flutter/lib/api/question_data.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

URL is https always.
  client/flutter/lib/api/content_loading.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Initial pass at dynamic content loading. (#588)
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
  client/flutter/lib/api/content_bundle.dart
  client/flutter/lib/api/content_loading.dart
  client/flutter/lib/api/question_data.dart
  client/flutter/lib/components/question_data.dart
  client/flutter/lib/l10n/your_questions_answered.yaml
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd, @sapte91

rm import
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add more scroll space at bottom of home screen for iOS safe area.
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Protect Yourself: updating distance (stay more than…) animation. (#559)
  client/flutter/assets/animations/protect.flr
  client/flutter/lib/components/rive_animation.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add Firebase Analytics (#512)
  client/flutter/android/app/build.gradle
  client/flutter/android/build.gradle
  client/flutter/lib/constants.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/pubspec.yaml
  content/credits.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Add endpoints for notification token and location
  THIRD_PARTY_LICENSE
  api/who/who.proto
  server/appengine/build.gradle
  server/appengine/src/main/java/com/google/common/geometry/MutableInteger.java
  server/appengine/src/main/java/com/google/common/geometry/R1Interval.java
  server/appengine/src/main/java/com/google/common/geometry/R2Vector.java
  server/appengine/src/main/java/com/google/common/geometry/S1Angle.java
  server/appengine/src/main/java/com/google/common/geometry/S1Interval.java
  server/appengine/src/main/java/com/google/common/geometry/S2.java
  server/appengine/src/main/java/com/google/common/geometry/S2AreaCentroid.java
  server/appengine/src/main/java/com/google/common/geometry/S2Cap.java
  server/appengine/src/main/java/com/google/common/geometry/S2Cell.java
  server/appengine/src/main/java/com/google/common/geometry/S2CellId.java
  server/appengine/src/main/java/com/google/common/geometry/S2CellUnion.java
  server/appengine/src/main/java/com/google/common/geometry/S2Edge.java
  server/appengine/src/main/java/com/google/common/geometry/S2EdgeIndex.java
  server/appengine/src/main/java/com/google/common/geometry/S2EdgeUtil.java
  server/appengine/src/main/java/com/google/common/geometry/S2LatLng.java
  server/appengine/src/main/java/com/google/common/geometry/S2LatLngRect.java
  server/appengine/src/main/java/com/google/common/geometry/S2Loop.java
  server/appengine/src/main/java/com/google/common/geometry/S2Point.java
  server/appengine/src/main/java/com/google/common/geometry/S2Polygon.java
  server/appengine/src/main/java/com/google/common/geometry/S2PolygonBuilder.java
  server/appengine/src/main/java/com/google/common/geometry/S2Polyline.java
  server/appengine/src/main/java/com/google/common/geometry/S2Projections.java
  server/appengine/src/main/java/com/google/common/geometry/S2Region.java
  server/appengine/src/main/java/com/google/common/geometry/S2RegionCoverer.java
  server/appengine/src/main/java/who/Client.java
  server/appengine/src/main/java/who/ClientInterceptor.java
  server/appengine/src/main/java/who/EchoServiceImpl.java
  server/appengine/src/main/java/who/Environment.java
  server/appengine/src/main/java/who/WhoRpcFilter.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
  server/appengine/src/main/java/who/WhoServletModule.java
  server/bin/deploy-production.sh
  server/bin/deploy-staging.sh
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Add more scroll space at bottom of home screen for iOS safe area. (#594)
  client/flutter/lib/pages/home_page.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Added images
  client/flutter/assets/news_press/news_articles.png
  client/flutter/assets/news_press/news_situation_reports.png
  client/flutter/assets/news_press/press_briefings.png
  client/flutter/assets/news_press/rolling_updates.png
  client/flutter/assets/onboarding/onboarding_location.png
  client/flutter/assets/onboarding/onboarding_notifications.png
  client/flutter/assets/travel_advice/doctor.png
  client/flutter/assets/travel_advice/quarantine.png
  client/flutter/assets/travel_advice/self-monitor.png
  client/flutter/ios/Podfile.lock
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/pubspec.yaml
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

finished news feed
  client/flutter/lib/pages/news_feed.dart
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @patniemeyer, @sammousa, @theswerd

Do not log in prod
  server/appengine/src/main/java/who/ClientInterceptor.java
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Added comment
  api/who/who.proto
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Add endpoints for notification token and location (#595)
  THIRD_PARTY_LICENSE
  api/who/who.proto
  server/appengine/build.gradle
  server/appengine/src/main/java/com/google/common/geometry/MutableInteger.java
  server/appengine/src/main/java/com/google/common/geometry/R1Interval.java
  server/appengine/src/main/java/com/google/common/geometry/R2Vector.java
  server/appengine/src/main/java/com/google/common/geometry/S1Angle.java
  server/appengine/src/main/java/com/google/common/geometry/S1Interval.java
  server/appengine/src/main/java/com/google/common/geometry/S2.java
  server/appengine/src/main/java/com/google/common/geometry/S2AreaCentroid.java
  server/appengine/src/main/java/com/google/common/geometry/S2Cap.java
  server/appengine/src/main/java/com/google/common/geometry/S2Cell.java
  server/appengine/src/main/java/com/google/common/geometry/S2CellId.java
  server/appengine/src/main/java/com/google/common/geometry/S2CellUnion.java
  server/appengine/src/main/java/com/google/common/geometry/S2Edge.java
  server/appengine/src/main/java/com/google/common/geometry/S2EdgeIndex.java
  server/appengine/src/main/java/com/google/common/geometry/S2EdgeUtil.java
  server/appengine/src/main/java/com/google/common/geometry/S2LatLng.java
  server/appengine/src/main/java/com/google/common/geometry/S2LatLngRect.java
  server/appengine/src/main/java/com/google/common/geometry/S2Loop.java
  server/appengine/src/main/java/com/google/common/geometry/S2Point.java
  server/appengine/src/main/java/com/google/common/geometry/S2Polygon.java
  server/appengine/src/main/java/com/google/common/geometry/S2PolygonBuilder.java
  server/appengine/src/main/java/com/google/common/geometry/S2Polyline.java
  server/appengine/src/main/java/com/google/common/geometry/S2Projections.java
  server/appengine/src/main/java/com/google/common/geometry/S2Region.java
  server/appengine/src/main/java/com/google/common/geometry/S2RegionCoverer.java
  server/appengine/src/main/java/who/Client.java
  server/appengine/src/main/java/who/ClientInterceptor.java
  server/appengine/src/main/java/who/EchoServiceImpl.java
  server/appengine/src/main/java/who/Environment.java
  server/appengine/src/main/java/who/WhoRpcFilter.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
  server/appengine/src/main/java/who/WhoServletModule.java
  server/bin/deploy-production.sh
  server/bin/deploy-staging.sh
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

Vendor out the Google S2 code
  .gitattributes
Owners: @advaydev1, @brunobowden, @crazybob, @hspinks, @sammousa

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. 
#
# Security sensitive items must be at the end.
#
# All user entries should be alpha-sorted and lowercase.

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
# Sadly, we have to repeat the top-level owners everywhere,
# since we are not team-members of a GitHub Organization.

* @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# Feature areas:

# Client UI
/client/flutter/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @theswerd

# Client Localization
# Pure translation changes can be approved by @sapte91, but Client UI folks can also still approve/submit
# as needed when mixed with code changes.
/client/flutter/lib/generated/intl/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @sapte91 @theswerd
/client/flutter/lib/l10n/ @advaydev1 @brunobowden @crazybob @hspinks @patniemeyer @sammousa @sapte91 @theswerd

# Team-wide processes
/docs/ @advaydev1 @brunobowden @crazybob @hspinks @deanhach

# Release process
/docs/RELEASE.md @advaydev1 @brunobowden @crazybob @epicfaace @hspinks @deanhach
/docs/release/ @advaydev1 @brunobowden @crazybob @epicfaace @hspinks @deanhach

# Server
/server/ @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# API
/api/ @advaydev1 @brunobowden @crazybob @hspinks @sammousa

# ***** Security-sensitive - always keep these at the end. *****

# CI and CD, Repo admins who can access secrets.
/.github/workflows/ @brunobowden @crazybob @sammousa
/.github/CODEOWNERS @brunobowden @crazybob @sammousa
