Repository WorldHealthOrganization/app, changes with the labels that .github/labeler.yml gives for each.
All labels: client, docs, ops, server, string-change, tests

.github/labeler.yml:

client:
  - client/flutter/**

docs:
  - docs/**

ops:
  - .github/**

server:
  - server/**

string-change:
  - client/flutter/assets/content_bundles/**
  - client/flutter/lib/l10n/*.arb

tests:
  - client/flutter/test/**

refactor: use flutter_native_splash for splash screens
  client/flutter/android/app/src/main/kotlin/org/who/WHOMyHealth/MainActivity.kt
  client/flutter/android/app/src/main/res/drawable-hdpi/splash.png
  client/flutter/android/app/src/main/res/drawable-mdpi/splash.png
  client/flutter/android/app/src/main/res/drawable-xhdpi/splash.png
  client/flutter/android/app/src/main/res/drawable-xxhdpi/splash.png
  client/flutter/android/app/src/main/res/drawable-xxxhdpi/splash.png
  client/flutter/android/app/src/main/res/drawable/launch_background.xml
  client/flutter/android/app/src/main/res/mipmap-hdpi/splash.png
  client/flutter/android/app/src/main/res/mipmap-mdpi/splash.png
  client/flutter/android/app/src/main/res/mipmap-xhdpi/splash.png
  client/flutter/android/app/src/main/res/mipmap-xxhdpi/splash.png
  client/flutter/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  client/flutter/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  client/flutter/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  client/flutter/android/app/src/main/res/mipmap-xxxhdpi/splash.png
  client/flutter/android/app/src/main/res/values/colors.xml
  client/flutter/android/settings_aar.gradle
  client/flutter/assets/images/splash_screen/splash.png
  client/flutter/ios/Runner/AppDelegate.swift
  client/flutter/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  client/flutter/ios/Runner/Assets.xcassets/splash-2732x2732.imageset/Contents.json
  client/flutter/ios/Runner/Assets.xcassets/splash-2732x2732.imageset/splash-2732x2732.png
  client/flutter/ios/Runner/Base.lproj/LaunchScreen.storyboard
  client/flutter/ios/Runner/Info.plist
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: client

Replace Coronavirus -> COVID-19 Onboarding - Notifications screen (#830)
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  content/credits.yaml
Labels: client

[feat] Use city center lat,lon instead of jittered
  api/who/who.proto
  client/flutter/ios/Podfile.lock
  client/flutter/lib/api/jitter_location.dart
  client/flutter/lib/api/who_service.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: client

Need newer Flutter hotfix
  .github/workflows/flutter-build.yml
Labels: ops

Fix other workflow
  .github/workflows/flutter-test.yml
Labels: ops

Feedback
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/pubspec.yaml
Labels: client

Try hotfix for flutter
  .github/workflows/flutter-build.yml
  .github/workflows/flutter-test.yml
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: client, ops

Delete preview-home.png
  docs/preview-home.png
Labels: docs

Update README.md
  docs/README.md
Labels: docs

[feat] Use city center lat,lon instead of jittered (#875)
  .github/workflows/flutter-build.yml
  .github/workflows/flutter-test.yml
  api/who/who.proto
  client/flutter/ios/Podfile.lock
  client/flutter/lib/api/jitter_location.dart
  client/flutter/lib/api/who_service.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: client, ops

Since no secrets shall be configured in this repo, add me/hunter to full owners
  .github/CODEOWNERS
Labels: ops

Update set automatic_release to false ios
  client/flutter/ios/fastlane/Fastfile
Labels: client

Add small proofreads
  client/flutter/lib/l10n/intl_ru_RU.arb
  client/flutter/pubspec.lock
Labels: client, string-change

feature: add firebase crashlytics
  client/flutter/lib/main.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: client

feature: setup firebase crashlytics on android
  client/flutter/android/app/build.gradle
  client/flutter/android/build.gradle
Labels: client

Setting ITSAppUsesNonExemptEncryption to false in Info.plist to prevent TestFlight / App Store from always asking
  client/flutter/ios/Runner/Info.plist
  content/credits.yaml
Labels: client

Update client/flutter/android/app/build.gradle
  client/flutter/android/app/build.gradle
Labels: client

Add @joshdholtz suggestions
  client/flutter/android/fastlane/.env
  client/flutter/android/fastlane/Appfile
  client/flutter/android/fastlane/Fastfile
  client/flutter/ios/fastlane/.env
  client/flutter/ios/fastlane/Appfile
  client/flutter/ios/fastlane/Fastfile
Labels: client

fix: remove duplicate gradle dependencies
  client/flutter/android/app/build.gradle
  client/flutter/android/build.gradle
  client/flutter/lib/main.dart
Labels: client

update Info.plist with changes in v0.4.1 release
  client/flutter/ios/Runner/Info.plist
Labels: client

add fr locale
  client/flutter/lib/generated/intl/messages_all.dart
  client/flutter/lib/generated/intl/messages_fr.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_fr.arb
Labels: client, string-change

update pubspec.lock and Podfile.lock to fix CI
  client/flutter/ios/Podfile.lock
  client/flutter/pubspec.lock
Labels: client

Remove unnecessary parenthesis
  client/flutter/ios/fastlane/Fastfile
Labels: client

Update README.md
  docs/README.md
Labels: docs

fix language ordering
  client/flutter/lib/generated/l10n.dart
Labels: client

update Info.plist with changes in v0.4.1 release (#887)
  client/flutter/ios/Runner/Info.plist
Labels: client

Homescreen name is COVID-19
  client/flutter/ios/Runner/Info.plist
Labels: client

:wrench: chore: make the labeler step optional
  .github/workflows/labeler.yml
Labels: ops

configure Xcode project
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
Labels: client

:man_facepalming: fix: update source .arb files instead of generated files with text changes
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
Labels: client, string-change

Server Tests: App Store (#857)
  .github/workflows/server.yaml
  content/credits.yaml
  server/appengine/build.gradle
  server/appengine/src/main/java/who/AppStoreServlet.java
  server/appengine/src/test/java/who/AppStoreServletTest.java
  server/gradle/wrapper/gradle-wrapper.jar
Labels: ops, server
