Repository WorldHealthOrganization/app, pull requests merged in 2020-05, with the labels that each got.

#1158 [feat] Homepage UX Refresh Prototype
  client/flutter/assets/content_bundles/protect_yourself.en.yaml
  client/flutter/lib/api/content/content_loading.dart
  client/flutter/lib/components/home_page_header.dart
  client/flutter/lib/components/home_page_sections/home_page_donate.dart
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/components/home_page_sections/home_page_information_card.dart
  client/flutter/lib/components/home_page_sections/home_page_protect_yourself.dart
  client/flutter/lib/components/home_page_sections/home_page_recent_numbers.dart
  client/flutter/lib/components/protect_yourself_card.dart
  client/flutter/lib/components/stat_card.dart
  client/flutter/lib/constants.dart
  client/flutter/lib/pages/main_pages/home_page.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/protect_yourself.dart
Labels: c:client, f:client-ui, t:feature

#892 add 'fr' locale (without territory)
  client/flutter/lib/generated/intl/messages_all.dart
  client/flutter/lib/generated/intl/messages_fr.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_fr.arb
Labels: a:i18n, c:client

#1169 [feat] Home index content bundle
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/lib/api/content/schema/index_content.dart
  client/flutter/lib/api/linking.dart
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/components/home_page_sections/home_page_information_card.dart
  client/flutter/lib/components/home_page_sections/home_page_protect_yourself.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/home_page.dart
Labels: c:client, t:feature, t:string-change

#1146 First pass at symptom checker.
  client/flutter/assets/content_bundles/symptom_checker.en.yaml
  client/flutter/lib/api/content/content_bundle.dart
  client/flutter/lib/api/content/schema/symptom_checker_content.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/check_up_page.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/symptom_checker/question_pages/long_list_question_view.dart
  client/flutter/lib/pages/symptom_checker/question_pages/previous_next_buttons.dart
  client/flutter/lib/pages/symptom_checker/question_pages/short_list_question_view.dart
  client/flutter/lib/pages/symptom_checker/question_pages/yes_no_question_view.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_model.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_page.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_summary.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_view.dart
Labels: c:client, f:symptom-checker, t:feature

#405 Setup fastlane automation
  client/flutter/android/Gemfile
  client/flutter/android/fastlane/.env
  client/flutter/android/fastlane/Fastfile
  client/flutter/ios/Gemfile
  client/flutter/ios/fastlane/.env
  client/flutter/ios/fastlane/Fastfile
  content/credits.yaml
Labels: a:deployment, a:dev-workflow, temp:merge-master

#968 :sparkles: feat(analytics): add more events
  client/flutter/lib/components/carousel/carousel.dart
  client/flutter/lib/components/carousel/carousel_slide.dart
  client/flutter/lib/components/home_page_sections/home_page_donate.dart
  client/flutter/lib/components/news_feed_item.dart
  client/flutter/lib/pages/about_page.dart
  client/flutter/lib/pages/facts_carousel_page.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/lib/pages/question_index.dart
  content/credits.yaml
Labels: c:client, f:analytics, temp:merge-master

#1200 refactor(case-stats): Daily case stats come from WHO ARCGIS endpoint
  .gitignore
  server/appengine/src/main/java/who/RefreshCaseStatsServlet.java
Labels: c:server, f:case-stats, t:bug

#1218 Don't repeat Question title
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
Labels: a:content

#1196 [feat] Update homepage and learn index page to new style
  .github/workflows/policy-ignored-lines.txt
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/assets/content_bundles/learn_index.en.yaml
  client/flutter/assets/content_bundles/protect_yourself.en.yaml
  client/flutter/assets/svg/undraw-home-donate.svg
  client/flutter/assets/svg/undraw-home-promo-symptoms.svg
  client/flutter/assets/svg/undraw-home-statcard-bg.svg
  client/flutter/assets/svg/undraw-learn-news-press.svg
  client/flutter/assets/svg/undraw-learn-promo.svg
  client/flutter/assets/svg/undraw-learn-protect-yourself.svg
  client/flutter/assets/svg/undraw-learn-qa.svg
  client/flutter/assets/svg/undraw-learn-travel-advice.svg
  client/flutter/assets/svg/undraw-wash-hands.svg
  client/flutter/lib/api/content/schema/index_content.dart
  client/flutter/lib/components/home_page_sections/home_page_donate.dart
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/components/home_page_sections/home_page_protect_yourself.dart
  client/flutter/lib/components/home_page_sections/home_page_recent_numbers.dart
  client/flutter/lib/components/learn_page_promo.dart
  client/flutter/lib/components/promo_curved_background.dart
  client/flutter/lib/components/themed_text.dart
  client/flutter/lib/constants.dart
  client/flutter/lib/pages/main_pages/home_page.dart
  client/flutter/lib/pages/main_pages/learn_page.dart
Labels: c:client, f:client-ui, t:feature

#1206 Symptom Checker Logic - v5
  .vscode/settings.json
  client/app_en/pubspec.lock
  client/flutter/assets/content_bundles/symptom_checker.en.yaml
  client/flutter/lib/api/content/schema/symptom_checker_content.dart
  client/flutter/lib/api/symptom_logic.dart
  client/flutter/lib/pages/symptom_checker/question_pages/long_list_question_view.dart
  client/flutter/lib/pages/symptom_checker/question_pages/short_list_question_view.dart
  client/flutter/lib/pages/symptom_checker/question_pages/yes_no_question_view.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_model.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_summary.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_view.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: c:client, f:symptom-checker, t:feature

#1224 Update ONBOARDING.md
  docs/ONBOARDING.md
Labels: a:docs

#1243 [feat] Design review tweaks
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/lib/components/carousel/carousel.dart
  client/flutter/lib/components/home_page_sections/home_page_donate.dart
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/components/home_page_sections/home_page_protect_yourself.dart
  client/flutter/lib/components/home_page_sections/home_page_recent_numbers.dart
  client/flutter/lib/pages/license_page.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/travel_advice.dart
Labels: a:pixel-perfect, c:client, f:client-ui

#1234 Update flutter to 1.17.0 stable
  .github/workflows/client-build-en.yaml
  .github/workflows/client-build.yaml
  .github/workflows/client-test-en.yaml
  .github/workflows/client-test.yaml
  client/app_en/pubspec.lock
  client/app_en/pubspec.yaml
  client/exposure_notifications/pubspec.lock
  client/exposure_notifications/pubspec.yaml
  client/flutter/lib/main.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
  docs/release/manual-build.md
Labels: blocked

#1236 Symptom Checker risk engine , results page, plus implementation of v6 flow .
  .github/workflows/policy-ignored-lines.txt
  client/flutter/assets/content_bundles/symptom_checker.en.yaml
  client/flutter/lib/api/content/content_bundle.dart
  client/flutter/lib/api/content/schema/symptom_checker_content.dart
  client/flutter/lib/api/symptom_logic.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_model.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_results_page.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_summary.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_view.dart
Labels: c:client, f:symptom-checker, t:feature

#1255 [feat] Country select in onboarding
  .github/workflows/policy-ignored-lines.txt
  client/flutter/assets/onboarding/iso_countries.en.yaml
  client/flutter/lib/api/iso_country.dart
  client/flutter/lib/api/user_preferences.dart
  client/flutter/lib/components/themed_text.dart
  client/flutter/lib/constants.dart
  client/flutter/lib/pages/onboarding/country_list_page.dart
  client/flutter/lib/pages/onboarding/country_select_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
Labels: c:client, f:client-ui, f:location, t:feature

#1285 [feat] Ensure settings description doesn't wrap
  client/flutter/lib/pages/settings_page.dart
Labels: a:pixel-perfect, c:client, f:client-ui

#1284 [feat] Use user-selected country for content bundles
  client/flutter/lib/api/content/content_loading.dart
Labels: c:client, f:dynamic-content, t:feature

#1280 [feat] Send isoCountryCode to location in putLocation request
  client/app_en/ios/Podfile.lock
  client/app_en/pubspec.lock
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner/Info.plist
  client/flutter/lib/api/who_service.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: blocked, c:client, f:location, t:feature

#1300 Disable auto backup closes #1170
  client/flutter/android/app/src/main/AndroidManifest.xml
Labels: a:privacy

#1314 [feat] Homepage Promo: WHO logo and AutoSizeText title
  client/flutter/assets/svg/who-logo-white.svg
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/constants.dart
Labels: c:client, f:client-ui

#1315 [feat] Apply blue scroll bleed background to homepage
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/pages/main_pages/home_page.dart
Labels: a:pixel-perfect, c:client, f:client-ui

#1310 Make home page/learn promos, QAs, facts, travel advice, protect yourself use conditional logic
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/assets/content_bundles/learn_index.en.yaml
  client/flutter/assets/content_bundles/mythbusters.en.yaml
  client/flutter/assets/content_bundles/mythbusters.fr_FR.yaml
  client/flutter/assets/content_bundles/travel_advice.en.yaml
  client/flutter/assets/content_bundles/your_questions_answered.fr_FR.yaml
  client/flutter/lib/api/content/content_bundle.dart
  client/flutter/lib/api/content/schema/advice_content.dart
  client/flutter/lib/api/content/schema/conditional_content.dart
  client/flutter/lib/api/content/schema/fact_content.dart
  client/flutter/lib/api/content/schema/index_content.dart
  client/flutter/lib/api/content/schema/question_content.dart
  client/flutter/lib/api/content/schema/symptom_checker_content.dart
  client/flutter/lib/components/home_page_sections/home_page_protect_yourself.dart
  client/flutter/lib/pages/facts_carousel_page.dart
  client/flutter/lib/pages/main_pages/home_page.dart
  client/flutter/lib/pages/main_pages/learn_page.dart
  client/flutter/lib/pages/protect_yourself.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/lib/pages/travel_advice.dart
Labels: c:client, f:dynamic-content

#1318 [feat] Add optional image to HomePageInformationCard
  client/flutter/lib/components/home_page_sections/home_page_information_card.dart
  client/flutter/lib/pages/main_pages/home_page.dart
Labels: c:client, f:client-ui, t:feature

#1301 styled graphs
  client/flutter/lib/components/recent_numbers_graph.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
Labels: f:case-stats

#1324 [refactor] Use new Button component for all rounded rect buttons
  client/flutter/lib/components/button.dart
  client/flutter/lib/components/home_page_sections/home_page_donate.dart
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/components/home_page_sections/home_page_information_card.dart
  client/flutter/lib/components/learn_page_promo.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
Labels: c:client

#1322 [feat] Update news page to new design
  client/flutter/assets/content_bundles/news_index.en.yaml
  client/flutter/lib/api/content/schema/index_content.dart
  client/flutter/lib/components/menu_list_tile.dart
  client/flutter/lib/components/news_feed_item.dart
  client/flutter/lib/pages/main_pages/home_page.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/lib/pages/news_page.dart
Labels: c:client, f:client-ui, t:feature

#1328 Serve all country asset bundles from server
  server/appengine/src/main/java/who/WhoServletModule.java
Labels: c:server

#1325 🎶🦜 Server country and push notification topic registration
  api/who/who.proto
  server/README.md
  server/appengine/build.gradle
  server/appengine/src/main/java/who/Client.java
  server/appengine/src/main/java/who/Environment.java
  server/appengine/src/main/java/who/FirebaseModule.java
  server/appengine/src/main/java/who/NotificationsManager.java
  server/appengine/src/main/java/who/Topics.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
  server/appengine/src/main/java/who/WhoServletModule.java
  server/appengine/src/test/java/who/TopicsTest.java
  server/build.gradle
Labels: c:server, f:location, f:notifications

#1334 [feat] Add images to get the facts page and homepage information card
  client/flutter/assets/content_bundles/get_the_facts.en.yaml
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/lib/components/home_page_sections/home_page_information_card.dart
Labels: c:client, f:client-ui

#1335 [feat] Onboarding flow visual updates
  .github/workflows/policy-ignored-lines.txt
  client/flutter/assets/svg/undraw-onboarding-location.svg
  client/flutter/assets/svg/undraw-onboarding-notifications.svg
  client/flutter/lib/pages/onboarding/country_select_page.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
Labels: c:client, f:client-ui

#1192 Figma bottom Icons
  client/flutter/lib/pages/main_pages/app_tab_router.dart
Labels: c:client, f:client-ui

#1351 🦚 fix: app bar should be pinned in scroll; closes #1349
  client/flutter/lib/components/page_scaffold/page_header.dart
Labels: c:client, f:client-ui

#1347 🌊🏖️ Symptom Checker UI fixes closes #1331
  client/flutter/assets/content_bundles/symptom_checker.en.yaml
  client/flutter/assets/svg/x-priv-bathroom-hair-dryer.svg
  client/flutter/assets/svg/x-priv-bathroom-tub-towel.svg
  client/flutter/assets/svg/x-priv-ceiling-lamp-1.svg
  client/flutter/assets/svg/x-priv-christmas-snow.svg
  client/flutter/assets/svg/x-priv-disability-cane.svg
  client/flutter/assets/svg/x-priv-drugs-box.svg
  client/flutter/assets/svg/x-priv-drugs-pills-box.svg
  client/flutter/assets/svg/x-priv-face-id-scan-1.svg
  client/flutter/assets/svg/x-priv-flying-insect-dragonfly.svg
  client/flutter/assets/svg/x-priv-gardening-sprinkle-bottle.svg
  client/flutter/assets/svg/x-priv-kitchenware-garlic-mincer.svg
  client/flutter/assets/svg/x-priv-medical-instrument-syringe.svg
  client/flutter/assets/svg/x-priv-medical-specialty-breathing.svg
  client/flutter/assets/svg/x-priv-temperature-thermometer-high.svg
  client/flutter/lib/api/content/schema/symptom_checker_content.dart
  client/flutter/lib/components/menu_list_tile.dart
  client/flutter/lib/pages/main_pages/check_up_intro_page.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_results_page.dart
Labels: c:client, f:symptom-checker
