Repository WorldHealthOrganization/app, pull requests merged in 2020-10, with the labels that each got.

#1518 Arch Diagram updated to v0.6
  docs/devdesign/System-Architecture-Diagram.csv
Labels: a:docs

#1549 Preserve context within Git about the project work done outside Git
  docs/context.md
Labels: a:docs

#1545 Apache 2.0 Relicensing
  docs/legal/apache-2.0-relicensing.txt
Labels: a:legal

#1552 CODEOWNERS simplification
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/client.yaml
  .github/workflows/server.yaml
  .github/workflows/static-content.yaml
  LICENSE
  client/flutter/assets/credits.yaml
  docs/CONTRIBUTING.md
  docs/credits.yaml
  tools/prepare-static-serving.js
Labels: a:dev-workflow

#1553 Apache 2.0 relicensing word wrap
  docs/legal/apache-2.0-relicensing.txt
Labels: a:legal

#1564 `flutter analyze` simple fixes in prep for v1.22 upgrade
  client/flutter/lib/api/content/caching.dart
  client/flutter/lib/api/content/content_bundle.dart
  client/flutter/lib/api/content/content_loading.dart
  client/flutter/lib/api/content/schema/advice_content.dart
  client/flutter/lib/api/content/schema/fact_content.dart
  client/flutter/lib/api/content/schema/index_content.dart
  client/flutter/lib/api/content/schema/poster_content.dart
  client/flutter/lib/api/content/schema/question_content.dart
  client/flutter/lib/api/linking.dart
  client/flutter/lib/api/who_service.dart
  client/flutter/lib/components/carousel/carousel.dart
  client/flutter/lib/components/carousel/carousel_slide.dart
  client/flutter/lib/components/content_widget.dart
  client/flutter/lib/components/home_page_sections/home_page_header.dart
  client/flutter/lib/components/home_page_sections/home_page_information_card.dart
  client/flutter/lib/components/home_page_sections/home_page_protect_yourself.dart
  client/flutter/lib/components/home_page_sections/home_page_recent_numbers.dart
  client/flutter/lib/components/learn_page_promo.dart
  client/flutter/lib/components/listItem.dart
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/components/page_scaffold/page_scaffold.dart
  client/flutter/lib/components/promo_curved_background.dart
  client/flutter/lib/components/protect_yourself_card.dart
  client/flutter/lib/components/recent_numbers_graph.dart
  client/flutter/lib/components/stat_card.dart
  client/flutter/lib/components/themed_text.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/about_page.dart
  client/flutter/lib/pages/facts_carousel_page.dart
  client/flutter/lib/pages/license_page.dart
  client/flutter/lib/pages/main_pages/check_up_poster_page.dart
  client/flutter/lib/pages/main_pages/home_page.dart
  client/flutter/lib/pages/main_pages/learn_page.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
  client/flutter/lib/pages/onboarding/country_list_page.dart
  client/flutter/lib/pages/onboarding/country_select_page.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/lib/pages/settings_page.dart
  client/flutter/lib/pages/travel_advice.dart
  client/flutter/test/who_settings_test.dart
Labels: a:dev-workflow

#1636 Advay Mengle limited consent to Apache 2.0 relicensing
  docs/legal/apache-2.0-relicensing.txt
Labels: a:legal

#1679 No privacy alert made shorter for dev builds
  client/lib/main.dart
Labels: a:legal
