Repository WorldHealthOrganization/app, pull requests merged in 2020-06, with the labels that each got.

#1369 Create stale.yml
  .github/stale.yml
Labels: a:dev-workflow

#1343 Update release documentation for processes on QA testing, preparing a release
  docs/release/README.md
  docs/release/manual-build.md
  docs/release/prepare-release.md
Labels: needs:triage

#1371 UI tweaks for demo videos
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/assets/content_bundles/protect_yourself.en.yaml
  client/flutter/ios/Podfile.lock
  client/flutter/lib/components/home_page_sections/home_page_information_card.dart
Labels: f:client-ui

#967 Initial version of the Test Plan document
  content/credits.yaml
  docs/TESTING.md
Labels: a:docs, a:qa

#1345 Svg was behind the status bar
  client/flutter/lib/pages/onboarding/country_select_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  content/credits.yaml
Labels: c:client, f:client-ui

#1373 CI should build release version of iOS
  .github/workflows/client-build.yaml
Labels: a:dev-workflow, c:client

#1372 Configure dependabot
  .github/dependabot.yml
Labels: a:dev-workflow

#1385 Fix dependabot config
  .github/dependabot.yml
Labels: a:dev-workflow
