Repository WorldHealthOrganization/app, pull requests merged in 2020-09, with the labels that each got.

#1477 🚧 Updating architecture docs #1463
  docs/devdesign/architecture.md
Labels: a:dev-workflow

#1489 Triaged work should not be marked stale
  .github/stale.yml
Labels: a:dev-workflow

#1476 For #1434 - Remove symptom checker, add symptom poster skeleton
  client/flutter/assets/content_bundles/symptom_checker.en.yaml
  client/flutter/assets/content_bundles/symptom_poster.en.yaml
  client/flutter/lib/api/content/content_store.dart
  client/flutter/lib/api/content/content_store.g.dart
  client/flutter/lib/api/content/schema/poster_content.dart
  client/flutter/lib/api/content/schema/symptom_checker_content.dart
  client/flutter/lib/api/display_conditions.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/check_up_intro_page.dart
  client/flutter/lib/pages/main_pages/check_up_poster_page.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/symptom_checker/question_pages/previous_next_buttons.dart
  client/flutter/lib/pages/symptom_checker/question_pages/short_list_question_view.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_model.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_results_page.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_view.dart
Labels: blocked, c:client, f:symptom-tracker

#1491 🏡 New home promo ; 🆕 use newer content ; and more fixes
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/ios/.gitignore
  client/flutter/ios/Podfile.lock
  client/flutter/lib/api/content/caching.dart
  client/flutter/lib/api/content/content_loading.dart
  client/flutter/lib/api/content/content_store.dart
  client/flutter/lib/api/updateable.dart
  client/flutter/lib/api/user_preferences.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: c:client

#1495 Persistent header showing Update app alert.
  client/flutter/lib/api/alerts.dart
  client/flutter/lib/components/page_scaffold/page_header.dart
  client/flutter/lib/components/page_scaffold/page_scaffold.dart
  client/flutter/lib/main.dart
Labels: c:client, f:client-ui

#1470 Code formatting for Java, Shell, JS, YAML too
  .github/stale.yml
  .github/workflows/client.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/policy-check.yaml
  .github/workflows/policy-ignored-lines.txt
  .github/workflows/server.yaml
  .github/workflows/static-content.yaml
  client/flutter/assets/content_bundles/get_the_facts.en.yaml
  client/flutter/assets/content_bundles/home_index.en.yaml
  client/flutter/assets/content_bundles/learn_index.en.yaml
  client/flutter/assets/content_bundles/news_index.en.yaml
  client/flutter/assets/content_bundles/protect_yourself.en.yaml
  client/flutter/assets/content_bundles/travel_advice.en.yaml
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
  client/flutter/pubspec.yaml
  server/appengine/src/main/java/who/AppStoreServlet.java
  server/appengine/src/main/java/who/Client.java
  server/appengine/src/main/java/who/ClientInterceptor.java
  server/appengine/src/main/java/who/Environment.java
  server/appengine/src/main/java/who/FirebaseModule.java
  server/appengine/src/main/java/who/ForwardingServlet.java
  server/appengine/src/main/java/who/NotificationsManager.java
  server/appengine/src/main/java/who/RefreshCaseStatsServlet.java
  server/appengine/src/main/java/who/StoredCaseStats.java
  server/appengine/src/main/java/who/Topics.java
  server/appengine/src/main/java/who/WhoGuiceServletConfig.java
  server/appengine/src/main/java/who/WhoRpcFilter.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
  server/appengine/src/main/java/who/WhoServletModule.java
  server/appengine/src/main/webapp/WEB-INF/cron.yaml
  server/appengine/src/test/java/who/AppStoreServletTest.java
  server/appengine/src/test/java/who/TopicsTest.java
  server/appengine/src/test/java/who/WhoTestSupport.java
  server/bin/run-dev-server.sh
  tools/.lintstagedrc.json
  tools/.prettierignore
  tools/build-and-push-static-serving.sh
  tools/gen-client-buildinfo.sh
  tools/package-lock.json
  tools/package.json
  tools/prepare-static-serving.js
Labels: a:dev-workflow

#1503 Update credits with HackerOne volunteers
  content/credits.yaml
Labels: a:docs

#1501 Adds country stats to client and server
  client/flutter/lib/api/iso_country.dart
  client/flutter/lib/api/stats_store.dart
  client/flutter/lib/api/stats_store.g.dart
  client/flutter/lib/components/home_page_sections/home_page_recent_numbers.dart
  client/flutter/lib/components/page_scaffold/page_header.dart
  client/flutter/lib/components/page_scaffold/page_scaffold.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/test/api/iso_country_test.dart
  server/appengine/src/main/java/who/RefreshCaseStatsServlet.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
Labels: c:client, c:server, f:case-stats

#1504 Commit architecture diagram
  docs/devdesign/System-Architecture-Diagram.csv
  docs/devdesign/architecture.md
Labels: a:docs

#1506 Symptom poster
  client/flutter/assets/content_bundles/symptom_poster.en.yaml
  client/flutter/assets/svg/streamline-sc-alert-triangle.svg
  client/flutter/ios/Podfile
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/lib/pages/main_pages/check_up_poster_page.dart
Labels: a:content, c:client

#1517 Approved by WHO Legal Joris Auert: Non-production server disclaimers
  client/flutter/lib/api/alerts.dart
  client/flutter/lib/components/page_scaffold/page_scaffold.dart
  client/flutter/lib/main.dart
  docs/README.md
Labels: a:legal

#1507 A changing of the guard
  .github/CODEOWNERS
  docs/CONTRIBUTING.md
  docs/ONBOARDING.md
  docs/devdesign/README.md
  docs/devdesign/location-awareness.md
  docs/devdesign/repositories.md
  docs/devdesign/subteams.md
Labels: a:docs

#1525 Xcode 12.0 and iOS 9.0 as new minimums
  .gitignore
  client/flutter/ios/Podfile
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: c:client

#1527 iOS Build Guide
  .gitignore
  client/flutter/README.md
  docs/ONBOARDING.md
  server/README.md
Labels: a:docs, c:client

#1528 simple_connectivity to eliminate location permission
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/lib/api/content/caching.dart
  client/flutter/lib/api/updateable.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: c:client
