Repository WorldHealthOrganization/app, pull requests merged in 2020-04, with the labels that each got.

#742 Correct back button behavior during onboarding
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
Labels: P0, bug, client

#770 [content] Make small content tweaks based on review feedback
  client/flutter/assets/content_bundles/mythbusters.en.yaml
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
Labels: string-change

#806 [content] Update title strings to feedback (for immediate translation)
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
Labels: string-change

#817 [build break] Pin CI flutter to v1.12.13+hotfix.5
  .github/workflows/flutter-build.yml
  .github/workflows/flutter-test.yml
Labels: P0

#819 fix: update onboarding page designs as per design review feedback
  client/flutter/assets/onboarding/onboarding_location.png
  client/flutter/assets/onboarding/onboarding_notifications.png
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
Labels: P0, client

#815 Turn on content loading / remove incorrect content
  client/flutter/lib/api/content_loading.dart
  content/flows/v1/check-your-health.ww.en.yaml
  content/flows/v1/protect-yourself.ww.en.yaml
  content/flows/v1/splash-carousel.ww.en.yaml
  content/flows/v1/travel-advice.ww.en.yaml
  content/flows/v1/who-mythbusters.ww.en.yaml
  content/img/placeholder/protect/cough.png
  content/img/placeholder/protect/distance.png
  content/img/placeholder/protect/washHands.png
  content/privacy-policy.txt
  content/terms-of-service.txt
Labels: P0, client

#808 [content] Update formatting on strings and use HTML for Travel Advice block
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/travel_advice.dart
Labels: P0, client, string-change

#794 P0 #793 fix: prevent home page from appearing before onboarding page
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
Labels: client

#786 P1 - Set status bar color black by default
  client/flutter/lib/main.dart
Labels: client

#816 Added RC files for French localization (arb & yaml) deleted MT'ed files
  client/flutter/assets/content_bundles/mythbusters.fr_FR.yaml
  client/flutter/assets/content_bundles/your_questions_answered.fr_FR.yaml
  client/flutter/ios/Runner/Info.plist
  client/flutter/lib/generated/intl/messages_all.dart
  client/flutter/lib/generated/intl/messages_ar.dart
  client/flutter/lib/generated/intl/messages_en_GB.dart
  client/flutter/lib/generated/intl/messages_es_ES.dart
  client/flutter/lib/generated/intl/messages_fr_FR.dart
  client/flutter/lib/generated/intl/messages_ru_RU.dart
  client/flutter/lib/generated/intl/messages_zh_CN.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_ar.arb
  client/flutter/lib/l10n/intl_en_GB.arb
  client/flutter/lib/l10n/intl_es_ES.arb
  client/flutter/lib/l10n/intl_fr_FR.arb
  client/flutter/lib/l10n/intl_ru_RU.arb
  client/flutter/lib/l10n/intl_zh_CN.arb
  client/flutter/test/who_myth_busters_ar_test.dart
  client/flutter/test/who_myth_busters_es_test.dart
  client/flutter/test/who_myth_busters_ru_test.dart
  client/flutter/test/who_myth_busters_zh_test.dart
Labels: P0, l10n

#797 Fix: app not showing the home page after allowing onboard location
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  content/credits.yaml
Labels: P0, client

#818 Update latest numbers style
  client/flutter/lib/components/arrow_button.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/latest_numbers.dart
Labels: P0, client

#805 P0 #749 - Global header - design review feedback
  client/flutter/lib/components/page_scaffold/page_header.dart
Labels: P0, client

#675 Push Messaging (Basic with Opt-in)
  client/flutter/android/app/build.gradle
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/ios/Runner/AppDelegate.swift
  client/flutter/ios/Runner/Info.plist
  client/flutter/ios/Runner/Runner.entitlements
  client/flutter/lib/api/user_preferences.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
  content/credits.yaml
  docs/BUILD.md
Labels: P0, client

#847 Client to use Updated Endpoints
  client/flutter/lib/api/content_loading.dart
  client/flutter/lib/api/endpoints.dart
  client/flutter/lib/api/who_service.dart
Labels: P0

#845 fix: location permission description text changed
  client/flutter/ios/Runner/Info.plist
  content/credits.yaml
Labels: needs merge

#830 Replace Coronavirus -> COVID-19 Onboarding - Notifications screen
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  content/credits.yaml
Labels: string-change

#898 Updating hands washing animation.
  client/flutter/assets/animations/wash_hands.flr
Labels: client

#895 Turn off LoggingInterceptor in prod
  server/appengine/src/main/java/who/WhoRpcFilter.java
Labels: server

#894 [content] Update source .arb files instead of generated files with text changes
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
Labels: client, string-change

#901 FIx hand wash text and domain name
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/intl/messages_fr_FR.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/l10n/intl_fr_FR.arb
Labels: string-change

#903 [feat] Use auto text size for header text to fix overflow
  client/flutter/lib/components/page_scaffold/page_header.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: client

#912 Fix typo and update Latest Numbers link URL
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
Labels: client, content, string-change

#946 [feat] Cron for pipeline stats from WHO
  api/who/who.proto
  server/appengine/src/main/java/who/RefreshCaseStatsServlet.java
  server/appengine/src/main/java/who/StoredCaseStats.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
  server/appengine/src/main/java/who/WhoServletModule.java
  server/appengine/src/main/webapp/WEB-INF/cron.yaml
Labels: P0, server

#939 [feat] Store jurisdiction of client; closes #890
  api/who/who.proto
  client/flutter/lib/api/who_service.dart
  server/appengine/src/main/java/who/Client.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
Labels: P0, server

#958 Ensure crons get updated on deployment
  server/README.md
  server/bin/deploy-hackerone.sh
  server/bin/deploy-production.sh
  server/bin/deploy-staging.sh
Labels: server

#972 [feat] Add graph to Latest Numbers page
  client/flutter/lib/components/latest_numbers_graph.dart
  client/flutter/lib/pages/latest_numbers.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: client

#937 Component borders weren't being shown via TalkBack on Android.
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/android/app/src/main/kotlin/org/who/WHOMyHealth/MainActivity.kt
Labels: accessibility, client

#980 Fix: arrow button overflowing (fixes #979)
  client/flutter/lib/components/arrow_button.dart
  content/credits.yaml
Labels: accessibility, client

#944 fix: accessiblilty semantics improvements
  THIRD_PARTY_LICENSE
  client/flutter/lib/components/page_scaffold/back_arrow.dart
  client/flutter/lib/components/page_scaffold/page_header.dart
  client/flutter/lib/components/page_scaffold/page_scaffold.dart
  client/flutter/lib/components/updated_app_bar.dart
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/about_page.dart
  client/flutter/lib/pages/latest_numbers.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/lib/pages/protect_yourself.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/lib/pages/travel_advice.dart
Labels: accessibility, client, string-change

#1022 Dynamic "Protect Yourself" and "Travel Advice" pages plus refactoring of content bundle mechanism...
  client/flutter/assets/content_bundles/protect_yourself.en.yaml
  client/flutter/assets/content_bundles/travel_advice.en.yaml
  client/flutter/lib/api/content/caching.dart
  client/flutter/lib/api/content/content_bundle.dart
  client/flutter/lib/api/content/content_loading.dart
  client/flutter/lib/api/content/dynamic_content.dart
  client/flutter/lib/api/content/schema/advice_content.dart
  client/flutter/lib/api/content/schema/fact_content.dart
  client/flutter/lib/api/content/schema/question_content.dart
  client/flutter/lib/components/dialogs.dart
  client/flutter/lib/pages/facts_carousel_page.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/protect_yourself.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/lib/pages/travel_advice.dart
Labels: client, string-change

#1025 added chevrons
  client/flutter/lib/components/carousel/carousel.dart
Labels: client

#1032 [feat] Update Latest Numbers graph
  client/flutter/lib/components/latest_numbers_graph.dart
  client/flutter/lib/pages/latest_numbers.dart
Labels: client

#897 Defer FCM autoinit until ToS approval
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/ios/Runner/Info.plist
  client/flutter/lib/pages/onboarding/onboarding_page.dart
Labels: client

#1017 Fix: make animation from home page smoother (closes #993)
  client/flutter/lib/components/swipeable_open_container.dart
  content/credits.yaml
Labels: client

#885 Add Firebase Crashlytics to Android
  client/flutter/android/app/build.gradle
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/android/build.gradle
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/ios/Runner/Info.plist
  client/flutter/lib/main.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: P0, client

#1045 Fix share sheet presentation on iPad
  client/flutter/lib/pages/home_page.dart
Labels: client

#1034 fix: missing touch feedback on items in 'Questions & Answers' and 'News & Press' screens Closes #1009
  client/flutter/lib/components/news_feed_item.dart
  client/flutter/lib/pages/question_index.dart
  content/credits.yaml
Labels: client, needs-design

#1056 Use secure RNG for UUIDs.
  client/flutter/lib/api/user_preferences.dart
Labels: P0, client, security

#1059 [docs] Add status badges
  docs/README.md
Labels: docs, ops

#854 [draft] Multi-repo flow
  docs/MULTIREPO.md
Labels: docs, organization

#1055 [chore] Update issue and PR templates
  .github/issue_template.md
  .github/pull_request_template.md
Labels: organization

#1070 fix: correct pubspec.yaml
  client/flutter/README.md
  client/flutter/lib/api/content/content_loading.dart
  client/flutter/lib/api/content/schema/advice_content.dart
  client/flutter/lib/api/content/schema/fact_content.dart
  client/flutter/lib/api/content/schema/question_content.dart
  client/flutter/lib/api/who_service.dart
  client/flutter/lib/components/carousel/carousel.dart
  client/flutter/lib/components/carousel/carousel_slide.dart
  client/flutter/lib/components/dialogs.dart
  client/flutter/lib/components/page_scaffold/back_arrow.dart
  client/flutter/lib/components/page_scaffold/page_header.dart
  client/flutter/lib/components/page_scaffold/share_bar.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/about_page.dart
  client/flutter/lib/pages/facts_carousel_page.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/latest_numbers.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/lib/pages/protect_yourself.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/lib/pages/settings_page.dart
  client/flutter/lib/pages/travel_advice.dart
  client/flutter/lib/pages/who_myth_busters.dart
  client/flutter/pubspec.yaml
  client/flutter/test/who_myth_busters_fr_test.dart
  client/flutter/test/who_myth_busters_test.dart
Labels: client

#1072 Use Flutter-recommended license format
  LICENSE
  THIRD_PARTY_LICENSE
  client/flutter/LICENSE
  client/flutter/assets/THIRD_PARTY_LICENSE
  client/flutter/lib/main.dart
Labels: blocked, docs

#1076 docs: Update README.md
  docs/README.md
Labels: area:docs

#1071 ci: Organize CI scripts
  .github/workflows/client-build.yaml
  .github/workflows/client-test.yaml
  .github/workflows/policy-check.yaml
  .github/workflows/server.yaml
  client/flutter/helper-scripts/README.md
  client/flutter/helper-scripts/flutter-netlify-build.sh
  client/flutter/web/favicon.png
  client/flutter/web/icons/Icon-192.png
  client/flutter/web/icons/Icon-512.png
  client/flutter/web/index.html
  client/flutter/web/manifest.json
  docs/README.md
  netlify.toml
  tools/policycheck.py
Labels: area:productivity

#1078 homepage typo
  docs/README.md
Labels: area:docs

#1065 Issue 1047 Localize source string on Latest Numbers screen
  client/flutter/lib/generated/intl/messages_all.dart
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/latest_numbers.dart
Labels: area:i18n, part:client, type:string-change

#1086 [docs] Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/issue_template.md
Labels: area:docs

#1122 Pre-commit hooks, closes #1092
  client/flutter/README.md
  dev-setup.sh
  docs/ONBOARDING.md
  tools/.huskyrc.json
  tools/.lintstagedrc.json
  tools/package-lock.json
  tools/package.json
  tools/verify-client.sh
  tools/verify-server.sh
Labels: area:development-workflow

#954 Notification Settings
  client/flutter/ios/Podfile.lock
  client/flutter/lib/api/notifications.dart
  client/flutter/lib/api/user_preferences.dart
  client/flutter/lib/components/dialogs.dart
  client/flutter/lib/generated/intl/messages_all.dart
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/main.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/settings_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: feat:push-notif, part:client, temp:merge-master, type:string-change

#1088 Change "Protect Yourself" page to use HTML for dynamic content.
  client/flutter/assets/content_bundles/protect_yourself.en.yaml
  client/flutter/lib/pages/protect_yourself.dart
Labels: temp:merge-master

#868 Convert legal PDFs to markdown
  content/credits.yaml
  docs/legal/PRIVACY.md
  docs/legal/TERMS.md
Labels: area:docs, area:legal, temp:merge-master

#1133 UI Refresh: Cupertino app with a tab router
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/latest_numbers.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/check_up_page.dart
  client/flutter/lib/pages/main_pages/home_page.dart
  client/flutter/lib/pages/main_pages/learn_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
  client/flutter/test/who_myth_busters_test.dart
Labels: f:client-ui, p:client, t:feature, t:string-change

#1123 [fix] Onboarding should be on for first launch
  client/flutter/lib/main.dart
Labels: p:client, t:bug

#1127 feat: Update settings page with new menu; closes #1115
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/settings_page.dart
Labels: c:client, f:client-ui, t:feature, t:string-change

#1129 Improve travel advice page; closes #1128
  client/flutter/assets/content_bundles/travel_advice.en.yaml
  client/flutter/lib/api/content/schema/advice_content.dart
  client/flutter/lib/constants.dart
  client/flutter/lib/pages/travel_advice.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: c:client, f:client-ui, t:feature, t:string-change

#1089 Add loading indicator to "Protect Yourself" page and refactor widget.
  client/flutter/lib/components/loading_indicator.dart
  client/flutter/lib/pages/protect_yourself.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/lib/pages/travel_advice.dart
Labels: c:client, f:client-ui, t:feature

#1143 [feat] Updated Recent Numbers page
  client/flutter/lib/components/recent_numbers_graph.dart
  client/flutter/lib/generated/intl/messages_all.dart
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/latest_numbers.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
Labels: c:client, f:client-ui, t:feature, t:string-change

#1150 Implement Learn page; implement named routing; fix scroll bug; random UI fixes too; switch analytics to named routes
  client/flutter/assets/content_bundles/learn_index.en.yaml
  client/flutter/lib/api/content/content_bundle.dart
  client/flutter/lib/api/content/schema/advice_content.dart
  client/flutter/lib/api/content/schema/fact_content.dart
  client/flutter/lib/api/content/schema/index_content.dart
  client/flutter/lib/api/content/schema/question_content.dart
  client/flutter/lib/api/linking.dart
  client/flutter/lib/components/learn_page_promo.dart
  client/flutter/lib/components/news_feed_item.dart
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/components/page_scaffold/page_header.dart
  client/flutter/lib/components/page_scaffold/page_scaffold.dart
  client/flutter/lib/components/swipeable_open_container.dart
  client/flutter/lib/constants.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/about_page.dart
  client/flutter/lib/pages/facts_carousel_page.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/check_up_page.dart
  client/flutter/lib/pages/main_pages/learn_page.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/news_feed.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/lib/pages/protect_yourself.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/lib/pages/settings_page.dart
  client/flutter/lib/pages/travel_advice.dart
Labels: c:client, f:client-ui, t:feature, t:string-change

#1151 [feat] Create ThemedText widget for default text styles
  client/flutter/lib/components/carousel/carousel.dart
  client/flutter/lib/components/carousel/carousel_slide.dart
  client/flutter/lib/components/home_page_header.dart
  client/flutter/lib/components/learn_page_promo.dart
  client/flutter/lib/components/page_scaffold/page_header.dart
  client/flutter/lib/components/page_scaffold/page_scaffold.dart
  client/flutter/lib/components/themed_text.dart
  client/flutter/lib/constants.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/about_page.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/learn_page.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
  client/flutter/lib/pages/settings_page.dart
  client/flutter/lib/pages/travel_advice.dart
Labels: c:client, f:client-ui, t:feature
