Repository WorldHealthOrganization/app, pull requests merged in 2020-03, with the labels that each got.

#118 Configure initial CI build for iOS
  .github/workflows/client.yml
Labels: ops

#104 Add basic ONBOARDING doc with basic getting started information
  ONBOARDING.md
  README.md
Labels: documentation, organization

#146 Update Onboarding and Contributing docs
  CONTRIBUTING.md
  ONBOARDING.md
  README.md
Labels: organization

#217 Improve carousel styling
  client/ionic/src/components/Carousel.tsx
  client/ionic/src/pages/CheckYourHealth.tsx
  client/ionic/src/pages/ProtectYourself.tsx
  client/ionic/src/pages/SplashCarousel.tsx
Labels: client

#216 Create WIP product roadmap
  docs/ONBOARDING.md
  docs/ROADMAP.md
Labels: documentation

#203 Re-add triage
  client/ionic/src/App.tsx
  client/ionic/src/pages/Triage.module.css
  client/ionic/src/pages/Triage.tsx
  client/ionic/src/surveys/triage.json
Labels: blocked

#295 Update name
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/ios/Runner/Info.plist
Labels: client

#230 docs: Update Roadmap to PR feedback
  docs/ROADMAP.md
Labels: organization

#368 [docs] PR process aimed for broader community of contributors
  .github/pull_request_template.md
Labels: docs

#371 [docs] Onboarding changes
  docs/ONBOARDING.md
  docs/README.md
Labels: docs

#356 docs: Update roadmap with v1.0 requirements
  docs/CHANGELOG.md
  docs/ROADMAP.md
Labels: docs

#357 [WHO Myth-buster] adds Widget Test
  client/flutter/lib/carousel_page.dart
  client/flutter/test/who_myth_busters_test.dart
  client/flutter/test/widget_test.dart
  content/credits.yaml
Labels: blocked, pr:test-implementation

#453 [docs] update onboarding, Slack status, and team leads
  docs/ONBOARDING.md
Labels: docs

#425 Require admin approval for changes to CI workflows
  .github/CODEOWNERS
Labels: needs merge

#495 [chore] Create issue template
  .github/issue_template.md
Labels: ops

#471 [docs] WIP: v1 subteams
  docs/WORKFLOW.md
Labels: docs, organization

#503 Roll-out feature-scoped commit access
  .github/CODEOWNERS
Labels: ops

#590 Updated homepage styling
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/components/page_scaffold.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/lib/pages/question_index.dart
Labels: P0, client

#588 Initial pass at dynamic content loading.
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
  client/flutter/lib/api/content_bundle.dart
  client/flutter/lib/api/content_loading.dart
  client/flutter/lib/api/question_data.dart
  client/flutter/lib/components/question_data.dart
  client/flutter/lib/l10n/your_questions_answered.yaml
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/question_index.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: P0, client

#512 Add Firebase Analytics
  client/flutter/android/app/build.gradle
  client/flutter/android/build.gradle
  client/flutter/lib/constants.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/pubspec.yaml
  content/credits.yaml
Labels: contrib-needing-review

#587 Finished onboarding UI
  client/flutter/lib/components/page_button.dart
  client/flutter/lib/pages/onboarding/location_sharing_page.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/permission_request_page.dart
  client/flutter/pubspec.lock
Labels: P0, client

#589 Questions drop down
  client/flutter/lib/pages/question_index.dart
Labels: P0, client

#623 feat: add version name and number to home page
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
  content/credits.yaml
Labels: contrib-needing-review

#634 refactor: add correct urls to news feed
  client/flutter/lib/components/news_feed_item.dart
  client/flutter/lib/l10n/intl_en_GB.arb
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/news_feed.dart
Labels: contrib-needing-review

#621 Re-integrate Google Analytics
  client/flutter/android/app/build.gradle
  client/flutter/android/app/google-services.json
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/android/build.gradle
  client/flutter/ios/Podfile.lock
  client/flutter/ios/Runner.xcodeproj/project.pbxproj
  client/flutter/ios/Runner/GoogleService-Info.plist
  client/flutter/ios/Runner/Info.plist
  client/flutter/lib/constants.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/home_page.dart
  client/flutter/pubspec.yaml
  content/credits.yaml
  docs/BUILD.md
Labels: blocked

#658 feat: added opt-out-toggle + settings page
  client/flutter/lib/generated/intl/messages_ar.dart
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_GB.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/intl/messages_es_ES.dart
  client/flutter/lib/generated/intl/messages_fr_FR.dart
  client/flutter/lib/generated/intl/messages_ru_RU.dart
  client/flutter/lib/generated/intl/messages_zh_CN.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_ar.arb
  client/flutter/lib/l10n/intl_en_GB.arb
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/l10n/intl_es_ES.arb
  client/flutter/lib/l10n/intl_fr_FR.arb
  client/flutter/lib/l10n/intl_ru_RU.arb
  client/flutter/lib/l10n/intl_zh_CN.arb
  client/flutter/lib/pages/home_page.dart
  client/flutter/lib/pages/settings_page.dart
  content/credits.yaml
Labels: string-change

#630 refactor: use app name WHO COVID-19 everywhere
  client/flutter/android/app/src/main/AndroidManifest.xml
  client/flutter/ios/Runner/Info.plist
  client/flutter/lib/components/page_header.dart
  client/flutter/lib/components/page_scaffold.dart
  client/flutter/lib/l10n/intl_en_GB.arb
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/main.dart
  client/flutter/lib/pages/onboarding/legal_landing_page.dart
  client/flutter/web/index.html
  client/flutter/web/manifest.json
Labels: needs merge

#703 fixed typos and added missing question
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
Labels: P0, l10n, string-change

#706 [content] Remove duplicate question from Your Questions Answered screen
  client/flutter/assets/content_bundles/your_questions_answered.en.yaml
Labels: string-change

#709 [content] Update copy on Settings page for analytics toggle
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
Labels: string-change

#729 [feat] Server endpoint skeleton for global COVID-19 stats
  api/who/who.proto
  server/appengine/src/main/java/who/WhoServiceImpl.java
  server/bin/run-dev-server.sh
Labels: server

#736 Minor cleanup of strings / new dono url
  client/flutter/lib/generated/intl/messages_en.dart
  client/flutter/lib/generated/intl/messages_en_US.dart
  client/flutter/lib/generated/l10n.dart
  client/flutter/lib/l10n/intl_en_US.arb
  client/flutter/lib/pages/home_page.dart
Labels: string-change
