Repository WorldHealthOrganization/app, pull requests merged in 2020-08, with the labels that each got.

#1418 ✂️ Remove Flare and hand wash animation for v1
  client/flutter/assets/animations/.gitkeep
  client/flutter/assets/animations/wash_hands.flr
  client/flutter/lib/components/protect_yourself_card.dart
  client/flutter/lib/components/rive_animation.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: a:binary-size, c:client

#1426 📙 API for per-jurisdiction case stats
  api/who/who.proto
  server/appengine/src/main/java/who/WhoServiceImpl.java
Labels: f:case-stats

#1437 Update LICENSE for introduction of custom app icon
  LICENSE
Labels: a:legal

#1440 Correctly handle auto-updating of case stats + plenty of refactoring
  .gitattributes
  .github/workflows/client.yaml
  api/who/who.proto
  client/flutter/analysis_options.yaml
  client/flutter/lib/api/notifications.dart
  client/flutter/lib/api/stats_store.dart
  client/flutter/lib/api/stats_store.g.dart
  client/flutter/lib/api/updateable.dart
  client/flutter/lib/api/who_service.dart
  client/flutter/lib/components/home_page_sections/home_page_recent_numbers.dart
  client/flutter/lib/components/recent_numbers_graph.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/main_pages/app_tab_router.dart
  client/flutter/lib/pages/main_pages/home_page.dart
  client/flutter/lib/pages/main_pages/recent_numbers.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/onboarding/notifications_page.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/lib/pages/settings_page.dart
  client/flutter/lib/proto/api/who/who.pb.dart
  client/flutter/lib/proto/api/who/who.pbenum.dart
  client/flutter/lib/proto/api/who/who.pbjson.dart
  client/flutter/lib/proto/api/who/who.pbserver.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
  client/flutter/test/who_settings_test.dart
  client/rpc/generate-api.sh
  tools/gen-client-protos.sh
Labels: c:client, f:case-stats, f:dynamic-content

#1423 👮 [Security] Upgrade server dependencies
  server/appengine/build.gradle
Labels: a:security, c:server

#1450 Re-TOS & re-onboard all users
  client/flutter/lib/api/user_preferences.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
Labels: c:client

#1462 Fixes #1458 - do not throw when opting out of notifications
  client/flutter/lib/api/who_service.dart
Labels: c:client, f:notifications

#1461 Randomize A-Z or Z-A for credits; add other leads
  client/flutter/lib/pages/about_page.dart
Labels: c:client

#1469 Fixes #1290, Fixes #1467: Load country specific-content, and fix country list bug
  client/flutter/lib/api/content/content_loading.dart
  client/flutter/lib/api/content/content_store.dart
  client/flutter/lib/api/display_conditions.dart
  client/flutter/lib/api/user_preferences.dart
  client/flutter/lib/api/user_preferences_store.dart
  client/flutter/lib/api/user_preferences_store.g.dart
  client/flutter/lib/main.dart
  client/flutter/lib/pages/main_pages/routes.dart
  client/flutter/lib/pages/onboarding/onboarding_page.dart
  client/flutter/lib/pages/symptom_checker/symptom_checker_view.dart
  client/flutter/pubspec.lock
  client/flutter/pubspec.yaml
Labels: c:client, f:dynamic-content

#1465 Fixes #1464, fixes #1413 - Make server use correct ArcGIS endpoint and support paging
  server/appengine/src/main/java/who/RefreshCaseStatsServlet.java
  server/appengine/src/main/java/who/WhoServiceImpl.java
Labels: c:server
